body{
	font-size:18px;
	font-family: KoHo;src: url("KoHo-Medium.ttf")
	font-weight: 300;
	color: white;
}

*, *::before,*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

/*--layout--*/
body{
		/*background-color:black;*/
		background: url(kepek/hatterecske.jpg);opacity: 0.75;
		
		
		display: grid;
		grid-template-areas: 
			"fejlec"
			"kontent"
			"lablec"
		;
		grid-template-rows: height:100vh; 

	}
	header{
		background-color: transparent;
		grid-area: fejlec;
	}
	.header_jobb{
		display: inline-block;
		margin-top: .4rem;
	}
	.header_bal{
		float: left;
		text-align: left;
		min-width: min-content;
	}

	main{
		/*background-color: darkblue;*/
		grid-area: kontent;
        background-position: center;
        background-repeat: no-repeat;
        color: white;

	}
		footer{
		/*background-color: purple;*/
		grid-area: lablec;
	}
/*--layout_end--*/
/*--általános--*/
	a{
		text-decoration: none;
		color: white;
		margin: 0 .6rem;
	}
	a:hover{
		color: pink;
	}
	hr{
		margin-top: 0.5rem;
		margin-bottom: 0rem;
		display: block; width: 100%; 
		border:pink;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: 1.5px solid pink;

	}
	main.center_keres{
		display: grid;
		grid-template-rows: minmax(1fr max-content 1fr);
		/*max-height: 50%;*/
	}
	.center_box{
		background-color: transparent;
		grid-row: -4/-3;
		/*max-height: 30%;*/
	}
	#udv{
		margin-top: 30%;
		text-align: center
	}
	#jobb{
		 padding-left: 80%;
		 /*text-align:right; */
	}
	#hatter{
		background: url(kepek/kezilabda.jpg);opacity: 0.75;
		/*min-width: 100%;*/
    /*min-height: 100%;*/
    /*position: fixed;*/
   /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;


	}
	#logo{
		max-width: 150,150;
	}

	
	.material-icons{
	color:white;

			
	}
/*--általános_end--*/

/*--azonos_header--*/
	header{
			line-height: 1rem;
			font-size: .93rem;
			text-align: left;
			margin-top: 10px;
			margin-bottom: 5px;
			font-size:16px;
			padding: .5em 0 .5em;
            background-color: grey;
			
	}

/*--azonos_header_end--*/

.container {
    background-color: transparent;
    padding: .9em;
    overflow: auto;
    float: left;
}

.tervdiv{
	text-align: center;
}

.tervkep{
	width: 50%;
	padding-top: 3em;
}

.tervp{
	padding-top:1em;
}